:root {
  --primary-color: #6200ea; /* Material Design Primary Color */
  --primary-light-color: #bb86fc; /* Material Design Primary Light Color */
  --primary-dark-color: #3700b3; /* Material Design Primary Dark Color */
  --secondary-color: #03dac6; /* Material Design Secondary Color */
  --secondary-light-color: #66fff9; /* Material Design Secondary Light Color */
  --secondary-dark-color: #00a896; /* Material Design Secondary Dark Color */
  --background-color: #121212; /* Material Design Background Color */
  --surface-color: #1e1e1e; /* Material Design Surface Color */
  --error-color: #cf6679; /* Material Design Error Color */
  --on-primary-color: #ffffff; /* Material Design On Primary Color */
  --on-secondary-color: #000000; /* Material Design On Secondary Color */
  --on-background-color: #ffffff; /* Material Design On Background Color */
  --on-surface-color: #ffffff; /* Material Design On Surface Color */
  --on-error-color: #000000; /* Material Design On Error Color */
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  font-size: 16px;
  color: var(--on-background-color);
  background-color: var(--background-color);
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.movie-item {
  position: relative;
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s;
  transform: scale(1);
  display: block;
}

.movie-item:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.movie-item-header {
  position: relative;
}

.movie-item__poster {
  display: block;
  width: 100%;
}

.movie-item__title {
  font-size: 0.85em !important;
  margin: 0;
  background-color: var(--primary-dark-color);
  color: var(--on-primary-color);
  padding: 0px;
}

/* .movie-item__badge {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: var(--on-secondary-color);
  line-height: 1;
  background-color: var(--secondary-color);
  padding: 7px 10px;
  white-space: nowrap;
} */

.header {
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  color: var(--on-primary-color);
  margin-bottom: 2em;
}

.css-1lt5qva-MuiCardContent-root:last-child {
  padding: 0 !important;
}

.css-6khn8x-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root {
  background-color: #ffffff;
  opacity: 0.15;
}

.css-6khn8x-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root:hover {
  background-color: #ffffff;
  opacity: 0.25;
}
