:root {
  --primary-color: #6200ea; /* Material Design Primary Color */
  --primary-light-color: #bb86fc; /* Material Design Primary Light Color */
  --primary-dark-color: #3700b3; /* Material Design Primary Dark Color */
  --secondary-color: #03dac6; /* Material Design Secondary Color */
  --secondary-light-color: #66fff9; /* Material Design Secondary Light Color */
  --secondary-dark-color: #00a896; /* Material Design Secondary Dark Color */
  --background-color: #121212; /* Material Design Background Color */
  --surface-color: #1e1e1e; /* Material Design Surface Color */
  --error-color: #cf6679; /* Material Design Error Color */
  --on-primary-color: #ffffff; /* Material Design On Primary Color */
  --on-secondary-color: #000000; /* Material Design On Secondary Color */
  --on-background-color: #ffffff; /* Material Design On Background Color */
  --on-surface-color: #ffffff; /* Material Design On Surface Color */
  --on-error-color: #000000; /* Material Design On Error Color */
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  font-size: 16px;
  color: var(--on-background-color);
  background-image: linear-gradient(
    to top,
    #055264,
    #063e4c,
    #052b35,
    #021920,
    #000000
  );
}

.movie-item {
  position: relative;
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s;
  transform: scale(1);
  display: block;
}

.movie-item img {
}

.movie-item:hover img {
  transform: scale(1.1);
  transition: all 0.3s;
  mix-blend-mode: multiply;
}

.movie-item-header {
  position: relative;
}

.movie-item__poster {
  display: block;
  width: 100%;
  overflow: hidden;
}

.movie-item__title {
  font-size: 0.95em !important;
  margin: 0;
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  mix-blend-mode: lighten;
  padding: 0px;
  text-align: center;
  min-height: 80px;
  white-space: normal;
  align-content: center;
  width: 100%;
}

/* .movie-item__badge {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: var(--on-secondary-color);
  line-height: 1;
  background-color: var(--secondary-color);
  padding: 7px 10px;
  white-space: nowrap;
} */

.css-1lt5qva-MuiCardContent-root:last-child {
  padding: 0 !important;
}

.css-6khn8x-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root {
  background-color: #ffffff;
  opacity: 0.15;
}

.css-6khn8x-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root:hover {
  background-color: #ffffff;
  opacity: 0.25;
}
